<h1 class="titulo"> Registrar Mascota </h1>
<br>

<div class="container">

  <br>

  <button routerLink="/home" class="home">Home
    <abbr title="Home">
      <mat-icon>
        home
      </mat-icon>
    </abbr>
  </button>
  <br>
  <br>

  <div >

    <form class="registro-form" (ngSubmit)="crearRegistro()" [formGroup]="registroForm">

     <div>
      <label for="nom_mascota">Nombre de la mascota:</label>
      <input type="text" id="nom_mascota" name="nom_mascota" formControlName="dsnom_mascota">

      <label for="especie">Especie:</label>
      <input type="text" id="especie" name="especie" formControlName="dsespecie">
    </div>
<div>
      <label for="raza">Raza:</label>
      <input type="text" id="raza" name="raza" formControlName="dsraza">

      <label for="fecha_nacimiento">Fecha de nacimiento:</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" formControlName="dtf_nacimiento">
    </div>
<div>
      <label for="tipo_identificacion">Tipo de identificación dueño:</label>
<select name="tipo_identificacion" id="tipo_identificacion" formControlName="dsT_identificacion">

  <option selected>Seleccione...</option>
  <option>tarjeta de identidad</option>
  <option>cedula de ciudadania</option>
  <option>tarjeta de extranjeria</option>
  <option>cedula de extranjeria</option>
  <option>NIT</option>
  <option>Pasaporte</option>
  <option>Documento extranjero</option>
</select>



      <label for="identificacion">Identificación:</label>
      <input type="long" id="identificacion" name="identificacion" formControlName="nmidentificacion">
    </div>
<div>
      <label for="nom_dueno">Nombre del dueño:</label>
      <input type="text" id="nom_dueno" name="nom_dueno" formControlName="dsnom_dueno">

      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" formControlName="dsciudad">
    </div>
<div>
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" formControlName="dsdireccion">


      <label for="telefono">Teléfono:</label>
      <input type="long" id="telefono" name="telefono" formControlName="nmtelefono">
    </div>
      <label for="fecha_registro">Fecha registro:</label>
      <input type="date" id="fecha_registro" name="fecha_registro" formControlName="dtf_registro">

      <button type="submit" class="save" [disabled]="registroForm.invalid">Guardar
        <abbr title="Guardar">
          <mat-icon>
            save
          </mat-icon>
        </abbr>
      </button>
    </form>

  </div>

</div>
