.container{
  background-color: rgba(105, 188, 187, 255);;
  width:60%;
  margin-left: 20%;
  text-align: center;
  border-radius: 0.5rem;
}

.titulo{
  text-align:center;
  background-color: rgba(105, 188, 187, 255);
}

.search {
  background-color: rgba(71, 115, 178, 255);
  width: 10%;
  height: 50px;
  border-radius: 0.5rem;
  margin-left: 20%;
  color: white;
  padding-top: 1%;
  text-align: center;
}

.home {
  background-color: rgba(71, 115, 178, 255);
  width: 10%;
  height: 50px;
  border-radius: 0.5rem;
  margin-left: 20%;
  color: white;
  padding-top: 1%;
  text-align: center;
}
