<h1 class="titulo">Consultar Mascota</h1>

<div class="container">
<button routerLink="/home" class="home">Home
  <abbr title="Home">
    <mat-icon>
      home
    </mat-icon>
  </abbr>
</button>

<form [formGroup]="formConsulta" (ngSubmit)="buscarMascotas()">
  <div class="form-group">
    <label for="nmidentificacion_dueno">Identificación del dueño</label>
    <input type="long" class="form-control" id="nmidentificacion_dueno" formControlName="nmidentificacion_dueno" required>
  </div>
  <button type="submit" class="search">Buscar mascotas
    <abbr title="Buscar">
      <mat-icon>
        search
      </mat-icon>
    </abbr>
  </button>
  <button class="cancel" (click)="limpiarFormulario()" >Cancelar
    <abbr title="limpiar">
      <mat-icon>
        cancel
      </mat-icon>
    </abbr>
     </button>
</form>
</div>
<br>
<hr>
<div class="container_table">
    <div class="col-md-12">
      <h3>Resultados:</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre mascota</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Fecha nacimiento</th>
            <th>Fecha registro</th>
            <th>Numero identificación dueño</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mascota of infoMascotas ">
            <td>{{ mascota.nmid }}</td>
            <td>{{ mascota.dsnom_mascota }}</td>
            <td>{{ mascota.dsespecie }}</td>
            <td>{{ mascota.dsraza }}</td>
            <td>{{ mascota.dtf_nacimiento }}</td>
            <td>{{ mascota.dtf_registro }}</td>
            <td>{{mascota.nmidentificacion_dueno}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>








